* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

:root {
    font-size: 62.5%;

}

body {
    font-size: 1.6rem;
    font-family: "Mulish", sans-serif;

}

header {
    background-color: #065E7C;
    display: flex;
    justify-content: space-around

}

header img {
    width: 4rem;
    height: 4rem;

}

#cat-title {
    display: block;
    margin: auto;

}

main {
    margin: 3.2rem 2.4rem;

}

section {
    margin: 2.4rem;
}

section div {
    display: grid;
    grid-template-areas: 
    "A B"
    "A C";
    margin: 3.2rem 0;
    font-size: 1.4rem;
    font-weight: 700;

}

section img {
    grid-area: A;
    margin-right: 1.6rem;
    justify-content: center;

}

section p {
    font-weight: 400;
}